<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>All my orders</h1>


        <% @orders.each do |order| %>
          <% sum = 0 %>
          <div class="row">
            <div class="square-card col-xs-6">
              Order reference: #<%= order.id %>
              <br>
              Date: <%= l order.created_at.in_time_zone('Paris') %>
              <br>
              Customer Name: <%= "#{order.bill_client.user.first_name} #{order.bill_client.user.last_name}" %>
              <br>
              Items:
              <ul>
                <% order.order_items.each do |item| %>
                  <li>
                    <%= item.product_ref.product_group.name %>
                    <% sum += item.product_ref.price * (1 - item.product_ref.promotion_percentage) * item.quantity %>
                  </li>
                <% end %>
              </ul>


              Total: <%= number_to_currency_fr(sum) %> &euro;
              <br>
              <p>Status: <%= order.status_order %></p>
              <%= link_to "View details", seller_account_order_path(order) %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
