<%= content_for(:title) do %>
  Welcome <%= current_seller.name %>
<% end %>


<div class="Site-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br><br>
        <h1>Welcome, <%= current_seller.name%></h1>
        <br>
        <br>
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-6 col-sm-4">
              <div class="card-seller-welcome">
                <div class="title-seller-welcome">
                  <h5>À propos</h5>
                </div>
                <%= link_to product_groups_path(category: "Extérieur") do %>
                  <i class="fa fa-users width-seller-home"></i>
                <% end %>
              </div>
            </div>
              <div class="col-xs-6 col-sm-4">
                <div class="card-seller-welcome">
                  <div class="title-seller-welcome">
                    <h5>Mes commandes</h5>
                  </div>
                  <%= link_to pending_orders_seller_account_orders_path(current_seller) do %>
                    <i class="fa fa-envelope-o width-seller-home"></i>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                <div class="card-seller-welcome">
                  <div class="title-seller-welcome">
                    <h5>Ma catalogue</h5>
                  </div>
                  <%= link_to seller_account_product_groups_path(current_seller) do %>
                    <i class="fa fa-book width-seller-home"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="iconmelon">
  <svg viewBox="0 0 32 32">
    <use xlink:href="#clock"></use>
  </svg>
</div>



