<h1>My profile</h1>

<h3>Photos of my shop</h3>

<% @pictures.each do |pic| %>
  <%= image_tag pic.picture.url(:thumb) %>
  <%= link_to "delete", seller_account_picture_seller_path(pic), method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<br>
<br>
<br>
<br>

<%= link_to "add a photo", new_seller_account_picture_seller_path %>


<h3>My details</h3>

Description: <%= current_seller.description %>
<%= link_to "Edit",
