<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>Créer une nouvelle référence pour <%=@product_group.name %></h1>
      <br>

      <%= simple_form_for(@product_ref, url: seller_account_product_group_product_ref_path(@product_group, @product_ref), html: { multipart: true }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :color_name, :label => "Couleur" %>
        <%= f.input :price, :label => "Prix en euro" %>
        <%= f.input :promotion_percentage, :label => "Promotion (compris entre 0,00 et 0,70" %>
        <%= f.input :availability, :label => "Disponibilité actuelle" %>
        <%= f.input :delivery_time, :label => "Délai de livraison" %>
        <%= f.input :reference, :label => "Code de référence" %>
        <%= f.input :picture, as: :file, label: "Echantillon de la couleur" %>
        <p><%= f.button :submit, :label => "Créer la référence" %></p>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
