<div id="footer" class="half-padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <% unless user_signed_in? %>
          <div class="pull-right">
            <% unless seller_signed_in? %>
              <%= link_to "Seller sign in", new_seller_session_path %>
            <% end %>
            <% if seller_signed_in? %>
              <%= link_to "Seller log out", destroy_seller_session_path, method: :delete %>
            <% end %>
            <% unless seller_signed_in? %>
              <%= link_to "New seller account", new_seller_registration_path %>
            <% end %>
          </div>
        <% end %>
      </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div id="social-links" class="pull-left">
          <ul class="list-inline">
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-youtube"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="pull-right">
          <span>&copy; LeSalon</span>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
