<nav class="navbar navbar-default navbar-second navbar-2-z" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "chair.png" %>
            S'asseoir <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Canapés") do %>
                <%#= image_tag "sofa.png", class: "icons-dropdown" %> Canapés
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Fauteuils") do %>
                <%#= image_tag "fauteil.png", class: "icons-dropdown" %> Fauteuils
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Chaises") do %>
                <%#= image_tag "chair-icon.png", class: "icons-dropdown" %> Chaises
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Tabourets") do %>
                <%#= image_tag "tabouret.png", class: "icons-dropdown" %> Tabourets
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Chaises de bureau") do %>
                <%#= image_tag "chair-office.png", class: "icons-dropdown" %> Chaises de bureau
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "storage.png" %>
            Rangement <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Bibliothèques") do %>
                <%#= image_tag "library.png", class: "icons-dropdown" %> Bibliothèques
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Etagères") do %>
                <%#= image_tag "shelf.png", class: "icons-dropdown" %> Etagères
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Commodes") do %>
                <%#= image_tag "commode.png", class: "icons-dropdown" %> Commodes
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Armoires") do %>
                <%#= image_tag "cupboard.png", class: "icons-dropdown" %> Armoires
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "table-menu.png" %>
            Tables <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Consoles") do %>
                <%#= image_tag "console.png", class: "icons-dropdown" %> Consoles
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Bureaux") do %>
                <%#= image_tag "table-office.png", class: "icons-dropdown" %> Bureaux
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Tables basses") do %>
                <%#= image_tag "table-bass.png", class: "icons-dropdown" %> Tables basses
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Salle à manger") do %>
                <%#= image_tag "dinning-table.png", class: "icons-dropdown" %> Salle à manger
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "lamp-menu.png" %>
            Luminaires <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Lampadaires") do %>
                <%#= image_tag "lampadaire.png", class: "icons-dropdown" %> Lampadaires
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Lampes de table") do %>
                <%#= image_tag "lamp-table.png", class: "icons-dropdown" %> Lampes de table
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Lampes de bureau") do %>
                <%#= image_tag "lamp-office.png", class: "icons-dropdown" %> Lampes de bureau
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Suspensions") do %>
                <%#= image_tag "lamp-hang.png", class: "icons-dropdown" %> Suspensions
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Objets lumineux") do %>
                <%#= image_tag "lamp-object.png", class: "icons-dropdown" %> Objets lumineux
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "night.png" %>
            Nuit <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Lits") do %>
                <%#= image_tag "bed.png", class: "icons-dropdown" %> Lits
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Tables de chevet") do %>
                <%#= image_tag "night-table.png", class: "icons-dropdown" %> Tables de chevet
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown ">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "deco.png" %>
            Deco <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu dropdown-font" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Coussins") do %>
                <%#= image_tag "cushion.png", class: "icons-dropdown" %> Coussins
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Miroirs") do %>
                <%#= image_tag "mirror.png", class: "icons-dropdown" %> Miroirs
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Vide-poches") do %>
                <%#= image_tag "tray.png", class: "icons-dropdown" %> Vide-poches
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Bibelots") do %>
                <%#= image_tag "cat.png", class: "icons-dropdown" %> Bibelots
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Pots") do %>
                <%#= image_tag "pot.png", class: "icons-dropdown" %> Pots
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Paravents") do %>
                <%#= image_tag "screen.png", class: "icons-dropdown" %> Paravents
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Tapis") do %>
                <%#= image_tag "carpet.png", class: "icons-dropdown" %> Tapis
              <% end %>
            </li>
            <hr>
            <li>
              <%= link_to product_groups_path(category: "Vases") do %>
                <%#= image_tag "vase.png", class: "icons-dropdown" %> Vases
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            <%#= image_tag "tree.png" %>
            Extérieur <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <br/>
            <li>
              <%= link_to product_groups_path(category: "Extérieur") do %>
                <%#= image_tag "bed.png", class: "icons-dropdown" %> Extérieur
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
