<%= content_for(:title) do %>
  New product
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>Créer un nouveau produit</h1>
      <br>

      <%= simple_form_for(@product_group, url: seller_account_product_groups_path) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, :label => "Nom du produit" %>
        <%= f.input :category_type, :label => "Catégorie du produit", :collection => ["Canapés","Fauteuils", "Chaises", "Tabourets","Chaises de bureau", "Bibliothèques", "Etagères", "Commodes", "Armoires", "Consoles", "Bureaux", "Tables basses", "Salle à manger", "Lampadaires", "Lampes de table", "Lampes de bureau", "Suspensions", "Objets lumineux", "Lits", "Tables de chevet", "Coussins", "Miroirs", "Vide-poches", "Bibelots", "Pots", "Paravents", "Tapis", "Vases", "Extérieur"] %>
        <%= f.input :category_style, :label => "Style du produit", :collection => ["Moderne","Classique", "Suédois", "Enfant"] %>
        <%= f.input :material, :label => "Matériau" %>
        <%= f.input :dimensions_length_cm, :label => "Longueur en cm" %>
        <%= f.input :dimensions_width_cm, :label => "Largeur en cm" %>
        <%= f.input :dimensions_height_cm, :label => "Hauteur en cm" %>
        <%= f.input :description, :label => "Description du produit" %>
        <%= f.input :characteristics, :label => "Caractéristiques du produit" %>
        <p><%= f.button :submit, :label => "Créer le produit" %></p>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
