<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="seller-product-card">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <h1><%= @product_group.name %></h1>
            <p><b>Type :</b> <%=@product_group.category_type%></p>
            <p><b>Style :</b> <%=@product_group.category_style%></p>
            <p><b>Material :</b> <%=@product_group.material%></p>
            <p><b>Longueur :</b> <%=@product_group.dimensions_length_cm%></p>
            <p><b>Largeur :</b> <%=@product_group.dimensions_width_cm%></p>
            <p><b>Hauteur :</b> <%=@product_group.dimensions_height_cm%></p>
            <p><b>Présentation :</b> <%=@product_group.description%></p>
            <p><b>Caractéristiques :</b> <%=@product_group.characteristics%></p>
            <div id="pencil-card-seller">
              <%= link_to edit_seller_account_product_group_path(@product_group) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
            <div id="delete-cross-seller">
              <%= link_to seller_account_product_group_path(@product_group), method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6">
            <br>
            <h4><%= "Images" %></h4>
            <div id="add-img-seller">
              <%= link_to new_seller_account_product_group_picture_product_path(@product_group) do %>
                <i class="fa fa-plus"></i>
              <% end %>
            </div>
            <p>La première image chargée sera la première à apparaître et sera utilisée comme image de référence</p>
            <div class="col-xs-12 col-sm-7">
              <div class="photo-card">
                <div class="slider">
                  <% @product_group.picture_products.each do |picture| %>
                   <div class="slider-item">
                     <%= image_tag picture.picture.url(:medium) %>
                      <div class="bin-card-seller">
                       <%= link_to seller_account_product_group_picture_product_path(@product_group, picture), method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                        <i class="fa fa-trash-o"></i>
                       <% end %>
                      </div>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {


      $('.slider').slick({
        dots: true,
      });

    });
  <% end %>
<% end %>

<% @product_group.product_refs.each do |product_ref| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="seller-product-card">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <h2> Références pour ce produit </h2>
              <div id="add-img-seller-ref">
                <%= link_to new_seller_account_product_group_product_ref_path(@product_group) do%>
                  <i class="fa fa-plus"></i>
                <% end %>
              </div>
              <h5>Une référence au moins est nécessaire pour que le produit soit référencé sur le site</h5>
              <br>
              <br>
              <%= image_tag product_ref.image.url(:medium) %>
              <%= image_tag product_ref.picture.url(:thumb), class: "sample-image", id: "sample-seller-show" %>
            </div>
            <div class="col-sm-6" id="seller-reference-show">
              <h4><b>Couleur: <%= product_ref.color_name %></b></h4>
              <p><b>Prix : </b><%= product_ref.price%> €</p>
              <p><b>Promotion : </b> <%= product_ref.promotion_percentage * 100 %> %</p>
              <p><b>Prix net : </b><%= product_ref.price * (1 - product_ref.promotion_percentage) %> €</p>
              <p><b>Disponibilité : </b><%= product_ref.availability%></p>
              <p><b>Délais de livraison : </b><%= product_ref.delivery_time%></p>
              <p><b>Référence :</b> <%= product_ref.reference%></p>
            </div>
            <div id="pencil-card-seller-ref">
              <%= link_to edit_seller_account_product_group_path(@product_group) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
            <div id="delete-cross-seller-ref">
              <%= link_to seller_account_product_group_path(@product_group), method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

