<%= content_for(:title) do %>
  Le Salon
<% end %>
<br>
<br>
<h1 class="text-center">Les meubles </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <hr>
      <%= image_tag "large-sofa-thonet.jpg"%>
      <hr>
    </div>
    <div class="col-xs-0 col-sm-3">
    </div>
  </div>
</div>
<br>
<h3 class="text-center">Directement depuis les fabricants</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div id="img-opacity">
        <%= image_tag "thonet-herstellen.jpg"%>
      </div>
      <hr>
    </div>
    <div class="col-xs-0 col-sm-3">
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <h1>Le Salon</h1>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-sm-4">
      <%= image_tag "outdoor-homepage.jpg", class: "text-center img-relative text-center"%>
      <div class="legend-absolute">
        <h5>EXTERIEUR</h5>
      </div>
    </div>
      <div class="col-xs-6 col-sm-4">
        <%= image_tag "lamps-homepage.jpg", class: "text-center img-relative text-center"%>
        <div class="legend-absolute">
        <h5>LUMINAIRES</h5>
      </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= image_tag "italians-homepage.jpg", class: "text-center img-relative text-center"%>
        <div class="legend-absolute">
        <h5>MOBILIER ITALIEN</h5>
      </div>
      </div>
    </div>
  </div>
</div>

