<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class= "img-home">
  <%= image_tag "http://placehold.it/1200x400"%>
</div>

<div class="text-center">
  <h1>Notre selection Italie</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <%= image_tag "http://placehold.it/300x300", class: "img-selection"%>
    </div>
      <div class="col-xs-6 col-sm-4">
        <%= image_tag "http://placehold.it/300x300", class: "img-selection"%>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= image_tag "http://placehold.it/300x300", class: "img-selection"%>
      </div>
    </div>
  </div>
</div>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>

