<%= content_for(:title) do %>
  Le Salon, <%= @product_group.name %>
<% end %>

<% if @product.nil? %>


<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <div class="all-thumbs-show">
        <% @product_group.picture_products.each do |pic| %>
          <div class="show-thumbnails">
            <%= link_to product_group_path(@product_group), "data-large-img" => pic.picture.url(:large), class: "product-thumbnail-img-link" do %>
              <%= image_tag pic.picture.url(:thumb) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-7 image-padded text-center">
      <%= image_tag @product_group.product_refs.first.image.url(:large), class: "product-large-img" %>
    </div>


    <div class="col-xs-3 col-sm-2">
      <div class="show-sidebar">
        <div class="show-sidebar-title">
          <h3><%= @product_group.name %></h3>
          <p>Vendu par <%= link_to @product_group.seller.name, sellers_page_path(@product_group.seller) %></p>
        </div>
        <div class="show-sidebar-title">
          <%= simple_form_for(@basket_item) do |f| %>
            <%= f.error_notification %>
            <% @product_group.product_refs.each do |product_ref| %>
              <%= link_to product_group_path(@product_group, :product => product_ref) do %>
                <%= image_tag product_ref.picture.url(:thumb), class: "sample-image" %>
              <% end %>
            <% end %>
            <br><span class="s20-font"><%= @product_group.product_refs.first.color_name %></span>
            <hr>
            <div class="show-sidebar-quantity">
              <div class="row">
                <div class="col-xs-8">
                  <%= f.input :quantity, collection: (1..10).to_a, default: 1, label: false%>
                </div>
              </div>
            <%= f.input :product_ref_id, as: :hidden, :input_html => { :value => @product_group.product_refs.first.id } %>
            </div>
            <% if @product_group.product_refs.first.promotion_percentage == 0 %>
              <p class="s25-font price-tag"><%= number_to_currency_fr(@product_group.product_refs.first.price)%>&euro; par piece</p>
            <% else %>
              <p class="text-muted"><del class="s25-font"><br><%= number_to_currency_fr(@product_group.product_refs.first.price) %> &euro;</del></p>
              <div id="promotion-card-show">
                <div id="promotion">
                  <p class="s13-font promotion-percentage"><%= number_to_currency_fr(@product_group.product_refs.first.promotion_percentage * 100) %> %</p>
                 </div>
               </div>
              <p class="s25-font price-tag"><%= number_to_currency_fr(@product_group.product_refs.first.price * (1 - @product_group.product_refs.first.promotion_percentage))%> &euro; par piece</p>
            <% end %>
            <div>
              <%= f.button :submit, "Ajouter au panier", class: "btn-show-ref" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!--   <div>
    <div>
      <div>
        <div> -->
          <%#= image_tag @product_group.product_refs.first.image.url(:large) %>
<!--         </div>
      </div>
    </div>
  </div> -->


  <div class="row">
    <div class="col-xs-5">
      <div class="card-show">
        <h3><%= @product_group.name %></h3>
        <br>
        <h4><b>Mesures</b></h4>
        <p>Longueur: <%= @product_group.dimensions_length_cm %> cm</p>
        <p>Largeur: <%= @product_group.dimensions_width_cm %> cm</p>
        <p>Hauteur: <%= @product_group.dimensions_height_cm %> cm</p>
        <br>
        <h4><b>Informations complementaires</b></h4>
        <p>Delais de livraison: <%= @product_group.product_refs.first.delivery_time %></p>
        <p>Disponibilite: <%= @product_group.product_refs.first.availability %></p>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-1">
      <div class="card-show-right">
        <h3>Description</h3>
        <p><%= @product_group.description %></p>
      </div>
    </div>
  </div>

 <!--  <div class="slider"> -->
  <%# @product_group.picture_products.each do |pic| %>
  <!--   <div> -->
      <%#= image_tag pic.picture.url(:large) %>
 <!--    </div> -->
  <%# end %>
<!-- </div> -->

<%# content_for(:after_js) do %>
  <%#= javascript_tag do %>
    <!-- $(document).ready(function() {


      $('.slider').slick({
        dots: true,


      });

    }); -->
  <%# end %>
  <%# end %>
</div>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <div class="all-thumbs-show">
        <% @product_group.picture_products.each do |pic| %>
          <div class="show-thumbnails">
            <%= link_to product_group_path(@product_group), "data-large-img" => pic.picture.url(:large), class: "product-thumbnail-img-link" do %>
              <%= image_tag pic.picture.url(:thumb) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-7 text-center image-padded">
      <%= image_tag @product.image.url(:large), class: "product-large-img" %>
    </div>

    <div class="col-xs-3 col-sm-2">
      <div class="show-sidebar">
        <div class="show-sidebar-title">
          <h3><%= @product_group.name %></h3>
          <p>Vendu par <%= link_to @product_group.seller.name, sellers_page_path(@product_group.seller) %></p>
        </div>
        <div class="show-sidebar-title">
          <%= simple_form_for(@basket_item) do |f| %>
            <%= f.error_notification %>
            <% @product_group.product_refs.each do |product_ref| %>
              <%= link_to product_group_path(@product_group, :product => product_ref) do %>
                <%= image_tag product_ref.picture.url(:thumb), class: "sample-image" %>
              <% end %>
            <% end %>
            <br><span class="s20-font"><%= @product.color_name %></span>
            <hr>
            <div class="show-sidebar-quantity">
              <div class="row">
                <div class="col-xs-8">
                  <%= f.input :quantity, collection: (1..10).to_a, default: 1, label: false%>
                </div>
              </div>
            <%= f.input :product_ref_id, as: :hidden, :input_html => { :value => @product.id } %>
            </div>
            <% if @product.promotion_percentage == 0 %>
              <p class="s25-font price-tag"><%= number_to_currency_fr(@product.price)%>&euro; par piece</p>
            <% else %>
              <p class="text-muted"><del class="s25-font"><br><%= number_to_currency_fr(@product.price) %> &euro;</del></p>
              <div id="promotion-card-show">
                <div id="promotion">
                  <p class="s13-font promotion-percentage"><%= number_to_currency_fr(@product.promotion_percentage * 100) %> %</p>
                 </div>
               </div>
              <p class="s25-font price-tag"><%= number_to_currency_fr(@product.price * (1 - @product.promotion_percentage))%> &euro; par piece</p>
            <% end %>
            <div>
              <%= f.button :submit, "Ajouter au panier", class: "btn-show-ref" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-5">
      <div class="card-show">
        <h3><%= @product_group.name %></h3>
        <br>
        <h4><b>Mesures</b></h4>
        <p>Longueur: <%= @product_group.dimensions_length_cm %> cm</p>
        <p>Largeur: <%= @product_group.dimensions_width_cm %> cm</p>
        <p>Hauteur: <%= @product_group.dimensions_height_cm %> cm</p>
        <br>
        <h4><b>Informations complementaires</b></h4>
        <p>Delais de livraison: <%= @product.delivery_time %></p>
        <p>Disponibilite: <%= @product.availability %></p>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-1">
      <div class="card-show-right">
        <h3>Description</h3>
        <p><%= @product_group.description %></p>
      </div>
    </div>
  </div>


  <!-- <div class="slider"> -->
    <%# @product_group.picture_products.each do |pic| %>
     <!--  <div> -->
        <%#= image_tag pic.picture.url(:large) %>
    <!--   </div> -->
    <%# end %>
  <!-- </div> -->

 <!--  <%# content_for(:after_js) do %>
    <%#= javascript_tag do %>
      $(document).ready(function() {
        $('.slider').slick({
          dots: true,
        });
      });
    <%# end %> -->
  <%# end %>
  <% end %>
</div>
