<% if @product.nil? %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center image-padded">
      <%= image_tag @product_group.product_refs.first.image.url(:large) %>
      <div>
        <% @product_group.product_refs.each do |product_ref| %>
          <%= link_to product_group_path(@product_group, :product => product_ref) do %>
            <%= image_tag product_ref.picture.url(:thumb), class: "sample-image" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 padded">


      <div>
        <h3><%= @product_group.name %></h3>
        <p>Vendu par <%= link_to @product_group.seller.name, sellers_page_path(@product_group.seller) %></p>
        <p><%= @product_group.description %></p>
        <h4>Mesures</h4>
        <p>Longueur: <%= @product_group.dimensions_length_cm %> cm</p>
        <p>Largeur: <%= @product_group.dimensions_width_cm %> cm</p>
        <p>Hauteur: <%= @product_group.dimensions_height_cm %> cm</p>
        <h4>Informations complementaires</h4>
        <p>Delais de livraison: <%= @product_group.product_refs.first.delivery_time %></p>
        <p>Disponibilite: <%= @product_group.product_refs.first.availability %></p>
      </div>


    </div>
    <div class="col-xs-6 padded">
      <div class="pull-right">
        <%= simple_form_for(@basket_item) do |f| %>
          <%= f.error_notification %>
          <%= f.select :quantity, options_for_select((1..10).to_a) %>
          <span class="s20-font padding-left"><%= @product_group.product_refs.first.color_name %></span>
          <%= f.input :product_ref_id, as: :hidden, :input_html => { :value => @product_group.product_refs.first.id } %>
          <p class="s25-font"><br><%= number_to_currency_fr(@product_group.product_refs.first.price) %> &euro;</p>
          <%= f.button :submit, "Ajouter au panier", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center image-padded">
      <%= image_tag @product.image.url(:large) %>
      <div>
        <% @product_group.product_refs.each do |product_ref| %>
          <%= link_to product_group_path(@product_group, :product => product_ref) do %>
            <%= image_tag product_ref.picture.url(:thumb), class: "sample-image" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 padded">


      <div>
        <h3><%= @product_group.name %></h3>
        <p>Vendu par <%= link_to @product_group.seller.name, sellers_page_path(@product_group.seller) %></p>
        <p><%= @product_group.description %></p>
        <h4>Mesures</h4>
        <p>Longueur: <%= @product_group.dimensions_length_cm %> cm</p>
        <p>Largeur: <%= @product_group.dimensions_width_cm %> cm</p>
        <p>Hauteur: <%= @product_group.dimensions_height_cm %> cm</p>
        <h4>Informations complementaires</h4>
        <p>Delais de livraison: <%= @product.delivery_time %></p>
        <p>Disponibilite: <%= @product.availability %></p>

      </div>

    </div>
    <div class="col-xs-6 padded">
      <div class="pull-right">
        <%= simple_form_for(@basket_item) do |f| %>
          <%= f.error_notification %>
          <%= f.select :quantity, options_for_select((1..10).to_a) %>
          <span class="s20-font padding-left"><%= @product.color_name %></span>
          <%= f.input :product_ref_id, as: :hidden, :input_html => { :value => @product.id } %>
          <p class="s25-font"><br><%= number_to_currency_fr(@product.price) %> &euro;</p>
          <%= f.button :submit, "Ajouter au panier", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>


<div class="slider">
  <% @product_group.picture_products.each do |pic| %>
    <div>
      <%= image_tag pic.picture.url(:large) %>
    </div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {


      $('.slider').slick({
        dots: true,


      });

    });
  <% end %>
<% end %>

</div>
<% end %>
