<h1>Details de la commande #<%= @bill_client.id %></h1>

<% @bill_client.orders.each do |order| %>
  <% sum = 0 %>
  <p>Commande(s) chez <%= link_to order.seller.name, sellers_page_path(order.seller) %>
    <br>
    Reference commande vendeur: #<%= order.id %>
    <ul>
      <% order.order_items.each do |item| %>
      <li>
        <%= link_to "#{item.quantity} x #{item.product_ref.product_group.name} ", product_group_path(item.product_ref.product_group) %>
        <%= "#{item.product_ref.color_name} (prix unitaire : #{number_to_currency_fr(item.product_ref.price)}" %> &euro;)
        <br>
        Temps de livraison estime a : <%= item.product_ref.delivery_time %>
        <br>
      </li>
    </ul>

  <% sum += (item.quantity * item.product_ref.price) %>
      <% end %>
  Statut : <%= order.status_order %>
  <br>
  Total chez ce vendeur: <%= number_to_currency_fr(sum) %> &euro;
  </p>
<% end %>

<p>Grand total: <%= number_to_currency_fr(@bill_client.amount) %> &euro;</p>
