<%= content_for(:title) do %>
  Finaliser votre commande
<% end %>
<div class="text-center Site-content ">
<h1>Paiement de votre commande N° <%= @bill.id %></h1>
<br>
<%= form_tag bill_client_payments_path(@bill) do %>
  <article>
    <label class="amount">
      <span>Montant: <%= number_to_currency_fr(@bill.amount) %> &euro;</span>
    </label>
  </article>
<br>
<br>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="New order"
    data-description="Order number <%= @bill.id %>"
    data-amount="<%= @bill.amount_cents %>"
    data-currency="EUR"></script>
<% end %>
<br>
<br>
<br>
<br>
</div>
