<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag("favicon.png") %>
  <title><%= yield(:title).blank? ?  "Le Salon" : yield(:title) %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>

<% if seller_signed_in? %>

  <body class="Site">
<% else %>
  <body id="user" class="Site">
<% end %>

  <% if seller_signed_in? %>
    <%= render "shared/flashes" %>
    <%= render "seller_account/shared/navbar" %>
  <% elsif user_signed_in? && current_user.admin? %>
    <%= render "shared/flashes" %>
    <%= render "admin/shared/navbar" %>
  <% else %>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <%= render "shared/navbar_products" %>
  <% end %>


  <%= yield %>
  <footer>
  <%= render "shared/footer" %>
  </footer>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>

</body>
</html>
